<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {{ site.title | page.title }}
  </title>

  {%- seo title=false -%}
  {%- feed_meta -%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <style>blockquote,table,td,th{border:thin solid #000}blockquote p,body{margin:0}.w,img{margin:0 auto}body[a=dark],body[a=dark] img{filter:invert(1)}body[a=dark] img.ioda{filter:invert(0)}@media (prefers-color-scheme:dark){body[a=auto],body[a=auto] img{filter:invert(1)}body[a=auto] img.ioda{filter:invert(0)}}body,html{background:#fff}html{height:100%}body{color:#000;min-height:100%;overflow-wrap:break-word;font:16px/1.4 monospace}.post-meta{text-align:right}h2,h3,h4,h5,h6{margin-top:3rem}hr{margin:2rem 0;text-align:center;border:0}hr:before{content:"/////"}hr:after{content:attr(data-content) "/////"}p{margin:1rem 0}li{margin:.4rem 0}:target{background:#ff0}.w{max-width:640px;padding:4rem 2rem}table{width:100%}table,td,th{border-collapse:collapse;padding:.4rem}code{color:#fff;background:#000}div.highlighter-rouge code{display:block;overflow-x:auto;white-space:pre-wrap;padding:1rem}blockquote{font-style:italic;padding:1rem}img{max-width:100%;display:block}</style>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102964710-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-102964710-6');
  </script>

</head>