---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
                            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{%- for page in collections.all %}
{%- if page.url and not page.data.eleventyExcludeFromCollections %}
    <url>
        <loc>{{ site.url }}{{ page.url | replace(".html", "") }}</loc>
        <lastmod>{{ page.date | isoDate }}</lastmod>
        <changefreq>{% if page.url == "/" %}weekly{% else %}monthly{% endif %}</changefreq>
        <priority>{% if page.url == "/" %}1.0{% elif "contact" in page.url %}0.8{% else %}0.6{% endif %}</priority>
    </url>
{%- endif %}
{%- endfor %}
</urlset>
