{#
    Footer Partial
    Consistent footer across all pages

    @module _includes/partials/footer.njk
#}
<footer class="footer" role="contentinfo" aria-label="Site footer" data-cy="site-footer">
    <i class="fa-brands fa-creative-commons fa-fw" aria-hidden="true"></i>
    <i class="fa-brands fa-creative-commons-zero fa-fw" aria-hidden="true"></i>
    © 2017-2025 {{ site.author }}<br>
    <span id="powered-by-amp">
        Powered by <i class="fa-brands fa-google fa-fw" aria-hidden="true"></i> AMP
        & <i class="fa-brands fa-cloudflare fa-fw" aria-hidden="true"></i> Cloudflare
    </span><br>
    Last Update: {{ site.buildTime | dateFormat("long") }}
</footer>
