---
layout: default
title: Publications
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

<h2 id=linguistic-studies>&emsp;[ Linguistic Studies ]</h2>
<h3>Malay Literature</h3>
<ol>
    <li>Hikayat Seri Rama: The R. O. Windstedt's Transliteration</li>
    <li>Transliterasi Hikayat Patani: Satu Kajian Semula</li>
    <li>Hikayat Ular Nangkawang (MSS Malay A 1): Transliteration and Review</li>
    <li>Hikayat Ular Nangkawang (Add MS 12382): Transliteration and Review</li>
    <li>Surat Sultan Kecil (Add MS 4828): Translation and Transliteration</li>
    <li>Hikayat Amir Hamzah (Add MS 12347): Transliteration and Review</li>
    <li>Hikayat Muhammad Hanafiah (Add MS 12364): Transliteration and Review</li>
    <li>Hikayat Muhammad Hanafiah (Add MS 12377): Transliteration and Review</li>
    <li>Hikayat Muhammad Hanafiah (MSS Malay B 6): Transliteration and Review</li>
    <li>Syair Mesa Gumita (Add MS 12380): Transliteration and Review</li>
    <li>Hikayat Isma Yatim (Add MS 12379): Transliteration and Review</li>
    <li>Hikayat Isma Yatim (Add MS 12366): Transliteration and Review</li>
    <li>Hikayat Dewa Mandu (Add MS 12376): Transliteration and Review</li>
    <li>Hikayat Carang Kulina (Add MS 12383): Transliteration and Review</li>
    <li>Hikayat Hang Tuah (Tuha?) (Add MS 12384): Transliteration and Review</li>
    <li>Hikayat Hang Tuah (Tuha?) (MSS Malay B 1): Transliteration and Review</li>
    <li>Hikayat Putera Gangga (Add MS 12385): Transliteration and Review</li>
</ol>
<h3>Thai Literature</h3>
<ol>
    <li>พระราชพงษาวดาร กรุงรัตนโกสินทร รัชกาลที่ ๑: การวิจารณ์วรรณกรรม</li>
    <li>พระราชพงษาวดาร กรุงรัตนโกสินทร รัชกาลที่ ๒: การวิจารณ์วรรณกรรม</li>
    <li>พระราชพงษาวดาร กรุงรัตนโกสินทร รัชกาลที่ ๓: การวิจารณ์วรรณกรรม</li>
    <li>พระราชพงษาวดาร กรุงรัตนโกสินทร รัชกาลที่ ๔: การวิจารณ์วรรณกรรม</li>
    <li>พระราชพงษาวดาร กรุงรัตนโกสินทร รัชกาลที่ ๕: การวิจารณ์วรรณกรรม</li>
</ol>