---
layout: default
title: Readings
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

<p>Note: Since the year, 2019.</p>
<h2 id=casual-list>&emsp;[ Casual List ]</h2>
<h4>Finished</h4>
<ol>
    <li>Ramle, R. <em>Jangan Kata Apa Orang Tak Kata</em>! 2017. </li>
    <li>Armstrong, H. W. <em>What Is Faith</em>? 2013. </li>
    <li>Asri, M. <em>Bid'ah Hasanah: Istilah Yang Disalah Fahami</em>. 2005.
    </li>
</ol>
<h4>Current Readings</h4>
<ol>
    <li>Dumas, A. <em>Acté</em>. 1968. </li>
    <li>Dumas, A. <em>Les Frères Corses</em>. 1844. </li>
    <li>Hanis, M. <em>Mitos Mahasiswa Sibuk</em>. 2015. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Ramle, R. <em>40 Amalan Mudah Menurut Sunnah</em>. 2019. </li>
    <li>Ruslaini, O. <em>Membongkar Misteri Hikayat Melayu</em>. 2018. </li>
    <li>Asri, M. <em>Fitnah Terhadap Sahabat Rasulullah</em>. 2016. </li>
    <li>The Patriots. <em>Kitab Tamadun Melayu</em>. 2019. </li>
    <li>Putih, S. <em>Ketika Hati Berfatwa</em>. 2019. </li>
    <li>Jiwa, M. <em>Teruntuk Langit Yang Bercanda</em>. 2020. </li>
    <li>Samad, A. <em>Kerajaan Johor-Riau</em>. 1985. </li>
</ol><br />
<hr /><br />
<h2 id=proofreading-list>&emsp;[ Proofreading List ]</h2>
<h4>Finished</h4>
<ol>
    <li>Hassan, T. <em>131 Tanda Kecil Kiamat: Dunia Semakin Berakhir</em>. 2020.
    </li>
    <li>Nueq, A. <em>Fiqh Asasi Sunnah Untuk Pemula (Kitab Taharah)</em>. 2020.
    </li>
    <li>Nueq, A. <em>Kompilasi Tafsir Surah 7 Hamim</em>. 2020. </li>
</ol>
<h4>Current Readings</h4>
<ul>
    <li> N/A </li>
</ul>
<h4>To Read</h4>
<ul>
    <li> N/A </li>
</ul><br />
<hr /><br />
<h2 id=academic-list>&emsp;[ Academic List ]</h2>
<h3 id=comparative-literature>&nbsp;Comparative Literature</h3>
<h4>Finished</h4>
<ul>
    <li> N/A </li>
</ul>
<h4>Current Readings</h4>
<ol>
    <li>Coedès, G. <em>The Indianized States of Southeast Asia</em>. 1975. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Gonda, J. <em>A History of Indian Literature - Vol. I: Veda and
            Upanishads</em>. 1975. </li>
    <li>Gonda, J. <em>A History of Indian Literature - Vol. II: Epic and Sanskrit
            Religious Literature</em>. 1977. </li>
    <li>Lienhard, S. & Gonda, J. <em>A History of Indian Literature, Volume III:
            Classical Sanskrit Literature</em>. 1984. </li>
    <li>Ravenswaay, L. <em>Translation of Jeremias van Vliet's Description of The
            Kingdom of Siam</em>. 1910. </li>
</ol><br />
<hr /><br />
<h3 id=computer-cryptography>&nbsp;Computer Cryptography</h3>
<h4>Finished</h4>
<ul>
    <li> N/A </li>
</ul>
<h4>Current Readings</h4>
<ol>
    <li>Cormen, T. H. et al.<em>Introduction to Algorithms</em>. 2009. </li>
    <li>Cisco Systems. Inc. <em>IP Addressing: IPv4 Addressing Configuration
            Guide, Cisco IOS XE Release 3S</em>. 2015. </li>
    <li>Stuttard, D. & Pinto, M. <em>The web Application Hacker's Handbook</em>.
        2011. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Brewin, L. <em>A Numerical Study of The Regge Calculus and Smooth
            Lattice Methods on a Kasner Cosmology</em>. 2015. </li>
    <li>Mirtes, M. R. <em>Development of a Rubik's Cube Solving Application
            for Android Devices</em>. 2014. </li>
</ol><br />
<hr /><br />
<h3 id=linguistic-studies>&nbsp;Linguistic Studies</h3>
<h4>Finished</h4>
<ul>
    <li> N/A </li>
</ul>
<h4>Current Readings</h4>
<ol>
    <li>Miller, G. M. et al. <em>Introduction to WordNet: An On-line Lexical
            Database</em>. 1991. </li>
    <li>Cruse, D. A. <em>Meaning in Language: An Introduction to Semantics and
            Pragmatics</em>. 2000. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Jalaluddin, N. H. <em>Asas Fonetik</em>. 2018. </li>
</ol><br />
<hr /><br />
<h3 id=textual-criticism>&nbsp;Textual Criticism</h3>
<h4>Finished</h4>
<ol>
    <li>Maxwell, W. E. & Windstedt, R. O. <em>Hikayat Seri Rama</em>. 1910. </li>
    <li>Salleh, S. H. <em>Hikayat Merong Mahawangsa</em>. 1998. </li>
    <li>Shellabear, W. G. <em>Hikayat Seri Rama</em>. 1917. </li>
    <li>Teeuw, A. & Wyatt, D. K. <em>The Story of Patani</em>, 1970 </li>
</ol>
<h4>Current Readings</h4>
<ol>
    <li>Adam, A. <em>Hikayat Hang Tuha</em>. 2018. </li>
    <li>Mokhtar, A. <em>Hikayat Raja Babi</em>. 2015. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Adam, A. <em>Hikayat Raja Pasai</em>. 2019. </li>
    <li>Jones, R. <em>Hikayat Raja Pasai</em>. 1999. </li>
    <li>ชลิตานนท์, น. ประวัติศาสตร์นิพนธ์ไทย. 1981 (พ.ศ. 2524). </li>
</ol><br />
<hr /><br />
<h3 id=theological-philosophy>&nbsp;Theological Philosophy</h3>
<h4>Finished</h4>
<ul>
    <li> N/A </li>
</ul>
<h4>Current Readings</h4>
<ol>
    <li>Kugle, S. S. <em>Homosexuality in Islam</em>. 2011. </li>
    <li>Hermann, K. <em>The Devaraja Cult</em>. 1978. </li>
</ol>
<h4>To Read</h4>
<ol>
    <li>Gonda, J. <em>Ancient Indian Kingship from the Religious Point of
            View</em>. 1956. </li>
    <li>Gonda, J. <em>Aspect of Early Vishnuism</em>. 1969. </li>
    <li>Navabi, A. <em>Why There Is No God</em>. 2014. </li>
    <li>Samsuddin, F. &Aacute; Adam, F. <em>Nur Muhammad Dan Nur Panjtan:
            Satu Perbandingan</em>. 2017. </li>
</ol><br />
<hr /><br />
<h2 id=arabic-kitab>&emsp;[ Classical Kitab ]</h2>
<h4>Finished</h4>
<ul class=right-align>
    <li> N/A </li>
</ul>
<h4>Current Readings</h4>
<ol class=right-align>
    <li class=amiri>القحطاني، حصن المسلم من أذكار الكتاب والسنة </li>
    <li class=amiri>الصنهاجي، متن الاجرومية </li>
</ol>
<h4>To Read</h4>
<ol class=right-align>
    <li class=amiri>يبن حنبل، الرد على الجهمية والزنادقة فيما شكوا فيه من
        متشابه القرآن وتأولوه على غير تأويله </li>
    <li class=amiri>الدارمي، مسند الدارمي </li>
    <li class=amiri>الطحاوية، متن العقيدة الطحاوية </li>
</ol><br />
<hr />
